pre {
    background-color: #f4f4f4;
    padding: 10px;
    border-radius: 5px;
    overflow-x: auto;
}

code {
    font-family: Consolas, Monaco, "Andale Mono", "Ubuntu Mono", monospace;
    color: #2d2d2d;
}